@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: sandybrown;
    color: whitesmoke;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 40px;
    border-radius: 3px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: gold;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: gold;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px whitesmoke solid;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: whitesmoke;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: gold;
}

.form-control label {
    position: absolute;
    top: 10px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: gold;
    transform: translateY(-30px);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caixa-autoria {
    position: fixed;
    display: flex;
    background-color: #666;
    color: white;
    border-top-left-radius: 0.6rem;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 120px;
    padding: 1rem;
    transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.caixa-autoria:hover {
    background-color: black;
    color: olivedrab;
}

.caixa-autoria i {
    font-size: 1.5rem;
}

.caixa-autoria p {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
}